html {
  overflow-x: hidden;
  overflow-y: scroll;
}

.App {
  position: static;
}

.Navigation{
  /* background-color: red; */
}

.ActiveComponent{
  background-color: green;
  height: 100%;
  margin: 1em;
}

.Sidebar{
  position: fixed;
  z-index: 1;
  height: 100%;
}